{% extends "layout.html" %}
{% block content %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="section_caculator_entry_css">
                <div class="box">
                ..
                </div>
                <div class="box">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <p>{{ paragraph }}</p>
                        <form method="POST" action="">
                            {{ form.csrf_token }}
                            <fieldset class="form-group">

                                <div class="form-group">
                                    {{ form.kms.label(class="form-control-label") }}
                                    {% if form.kms.errors %}
                                        {{ form.kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form.transport_type.label(class="form-control-label") }}
                                    {% if form.transport_type.errors %}
                                        {{ form.transport_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.transport_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.transport_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form.fuel_type.label(class="form-control-label") }}
                                    {% if form.fuel_type.errors %}
                                        {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.fuel_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.fuel_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                            </fieldset>
                            </br>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </form>

                        <script>
                            let transport_select =document.getElementById("transport_type");
                            let fuel_select = document.getElementById("fuel_type");

                            transport_select.onchange = function(){
                                transport=transport_select.value;

                                fetch('/fuel_type/'+transport).then(function(response) {
                                    response.json().then(function(data){
                                        let optionHTML='';

                                        for(let fuel_in of data.fuel_json){
                                            optionHTML += '<option value="' + fuel_in.fuel + '">' +fuel_in.fuel +'</option>';
                                        }

                                        fuel_select.innerHTML = optionHTML;
                                    });
                                });
                            }

                        </script>

                </div>
                <div class="box">
                ..
                </div>
            </div>
        </div>
    </section>
{% endblock content %}