{% extends "layout.html" %}
{% block content %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="announcement_css">
                <div class="box">
                ..
                </div>
                <div class="box">
                    <h1 class="mb-3">Announcements by {{ user.username }} ({{ announcements.total }})</h1>
                    {% for announcement in announcements.items %}
                        <article class="media content-section">
                          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + announcement.author.image_file) }}">
                          <div class="media-body">
                            <div class="article-metadata">
                              <a class="mr-2" href="{{ url_for('users.user_announcements', username=announcement.author.username) }}">{{ announcement.author.username }}</a>
                              <small class="text-muted">{{ announcement.date_posted.strftime('%Y-%m-%d') }}</small>
                            </div>
                            <h2><a class="article-title" href="{{ url_for('announcements.announcement', announcement_id=announcement.id) }}">{{ announcement.title }}</a></h2>
                            <p class="article-content">{{ announcement.content }}</p>
                          </div>
                        </article>
                    {% endfor %}
                    {% for page_num in announcements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                      {% if page_num %}
                        {% if announcements.page == page_num %}
                          <a class="btn btn-info mb-4" href="{{ url_for('users.user_announcements', username=user.username, page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_announcements', username=user.username, page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                      {% else %}
                        ...
                      {% endif %}
                    {% endfor %}
                </div>
                <div class="box">
                ..
                </div>
            </div>
        </div>
    </section>
{% endblock content %}