{% extends "layout.html" %}
{% block content %}
    <div class="container">
		<h3>
			App Calculator
		</h3>
	</div>
<!-- Form -->
    <div class="container">
      <form action="/send1" method="POST">
        <div class="form-group">
                <label for="exampleInputEmail1">Number 1</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="First Number" name='num1'>
        </div>
        <br/>

        <div class="form-group">
                <label for="exampleInputEmail1">Number 2</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Second Number" name='num2'>
        </div>
        <br/>

        <div class="form-group">
          <label for="exampleInputEmail1">Operation</label>
          <select type="text" class="form-control" name='operation'>
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
          </select>
        </div>
        <br/>

        <input type="submit" value="Calculate" id="calc_btn" />
        <br />
        <div class="alert">
          {{ sum }}
        </div>

        </form>
    </div>
{% endblock %}