{% extends "layout.html" %}
{% block content %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <!--intro-->
            <h1>Introduction</h1>
            <p class="mb-1">....</p>
            </br>

            <!--Exercise-->
            <div class="exercises_css">
                <div class="exercise">
                    <legend class="border-bottom mb-4">Exercise 2. Questionnaire</legend>
                    <p class="card-text">
                        ... <strong>(chose one of the next options):</strong>
                    </p>
                    (form here)...
                </div>
                <div class="exercise">
                    graph ...
                </div>
            </div>

            <!--Chat-->
            <div class="exercises_chat_css">
                <div class="exercise">
                    <legend class="border-bottom mb-4">Exercise 1. Questionnaire</legend>
                    <p class="card-text">
                    ....   <strong>(chose one of the next options):</strong>
                    </p>
                    <div class="form-group">
                        {% if form_m2_ch2_e1.type.errors %}
                            {{ form_m2_ch2_e1.type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_m2_ch2_e1.type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_m2_ch2_e1.type(class="form-control form-control") }}
                        {% endif %}
                    </div>
                    </br>
                    <div class="form-group border-bottom pb-3">
                        {{ form_m2_ch2_e1.submit(class="btn btn-outline-info")}}
                    </div>
                </div>
                <div class="exercise">
                    chat ...
                </div>
            </div>

            <!--Question-->
            <div class="exercises_question_css">
                <div class="exercise">
                    <legend class="border-bottom mb-4">Exercise 1 and 2. Questions</legend>
                    <p class="card-text">
                    Which are the questions that you consider relevant in this topic?
                    </br>
                    </br>
                    Which are the questions that you expect to answer in this chapter?
                    </p>
                    (form here)...
                </div>
                <div class="exercise">
                    questions ...
                </div>
            </div>
    </section>
{% endblock content %}